body {
    background-image: url (flu.jpeg);
    background-size: 120%;
    background-repeat: no-repeat;
    color: white;
}

h1{ 
    color: firebrick;
}

li {
    font-family:serif;  
    font-size: 18px;    
    
}
p {
    font-family:sans-serif;
    font-size: 18px;  
}

main {
    background: green;
    background: white;
    background: red;
    
}
table {
    
background: red;

}