body {
background-color:azure;
}
#caixa{
width: 100 px;
background-color: aliceblue;
font-family:monospace;
}
table {
background-color:blanchedalmond;}

th {
background-color: 
floralwhite;}

p {
font-family: 'Hind Madurai', sans-serif;
}

li {
font-family: 'Bitter', serif;
}
